body {
  height: 200vh;
  margin: 0;
}

.apple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
  background-image: url(https://images.wallpaperscraft.com/image/night_city_cars_traffic_117247_2560x1440.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 0;
}

.firstImage {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.firstImage .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.firstImage .google {
  height: 80%;
  color: white;
  padding: 40px;
  /*#stateFoot{
            margin: 16px 20% 0 0;
        }*/
}

.firstImage .google img {
  height: 30%;
}

.generation {
  background-color: salmon;
}

.generation .tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: white;
  height: auto;
  margin: 0px 5px;
}

.generation h1 {
  text-align: center;
  padding: 20px;
  color: white;
  margin: auto;
}

.generation p {
  padding: 20px;
}

.workPhone {
  margin: 0;
  background-color: #4F5273;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.workPhone h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}

.workPhone p {
  padding: 20px;
  color: white;
}

.workPhone h2 {
  padding: 20px;
  color: white;
}

.workPhone #work {
  margin: 0;
  padding: 10px;
}

.workPhone .textPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4F5273;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 10%;
}

.workPhone .pic {
  width: 300px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.workPhone #backPhone {
  background-color: #25273B;
}

.workPhone .bottomPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 10px;
}

#contact {
  background-color: salmon;
  margin: 0;
  text-align: center;
  color: white;
}

form {
  padding: 4% 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: salmon;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
}

input[type=submit] {
  width: 15em;
  height: 2em;
  background-color: transparent;
  border-radius: 7px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-size: 10px;
  height: 2%;
  background-color: white;
}
/*# sourceMappingURL=main.css.map */