@media only screen 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
    body{
        margin: 0;
    }

    .apple{
        background-color: salmon;
        background-image: none;
    }
   #laptop{
        display: none;
    }

    .firstImage{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .google{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: auto;
   }
    #stateFoot{
       margin: unset;
   }

    .tiles{
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .textPhone{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: none;
    }


    #topPhone{
       order: 2;
    }
    
    h2{
        margin: 0;
    }

    form{
        padding: 4% 2%;
    }

    #contact{
        padding: 1%;
    }
    .workPhone{
        width: inherit;
    }

  }

  @media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1){
    body{
        margin: 0;
    }

    .apple{
        background-color: salmon;
        background-image: none;
    }
   #laptop{
        display: none;
    }

    .firstImage{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .google{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: initial;
   }
   p > #stateFoot{
    margin: 0;
    }

    .tiles{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    
    .textPhone{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    #topPhone{
       order: 2;
    }
    
    h2{
        margin: 0;
    }
    .littleText{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    p{
        margin: 0em;
    }

    form{
        padding: 4% 2%;
    }

    #contact{
        padding: 1%;
    }
    .workPhone{
        width: inherit;
    }

  }

