body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    padding: 20px;
    height: 100px;
    background-color: purple;
    color: wheat;
    justify-content: center;
    font-size: 30px;
    display: flex;
}

.flexRow{
    background-color: thistle;
    display: flex;
    flex-grow: 1;
}

nav{
    padding: 20px;
    width: 200px;
    background-color: blue;
    color:white;
    font-size: 30px;
    justify-content: center;
}

main{
    padding: 20px;
    width: 100%;
    background-color: grey;
    font-size: 30px;
    color:white;
    justify-content: center;
}

.right{
    padding: 20px;
    width: 200px;
    background-color:green;
    font-size: 30px;
    color:white;
    justify-content: center;
}

footer{
    padding: 20px;
    height: 100px;
    background-color: darkorange;
    color: wheat;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
}