section{
    background-color: lightgray;
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
}

input{
    height: 20px;
    width: 60%;
}

.textInput{
    font-size: 12px;
    font-weight: 600;
}

.checkBox{
    width: auto;
}