body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section{
    grid-column: 2 / 3;
    background-color: lightgray;
    padding: 10px;
    display: flex;
    justify-items: center;
}

input{
    height: 20px;
    width: 60%;
}

.textInput{
    font-size: 12px;
    font-weight: 600;
}

.checkBox{
    width: auto;
}