@media only screen 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
   body{
    height: 105vh;   
    }
   
    .flexRow{
        flex-direction: column;
    }

    header{
        width: 100%;
    }

    footer{
        width: 100%;
    }

    .right{
        display: flex;
        height: 30%;
        width: 100%;
        background-color: lightgreen;
    }

    main{
        height: 60%;
        background-color: lightgrey;
    }
  }

  @media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body{
        height: 105vh;   
        }

    .flexRow{
        flex-direction: column;
    }

    header{
        width: 100%;
    }

    footer{
        width: 100%;
    }

    .right{
        display: flex;
        height: 30%;
        width: 100%;
        background-color: lime;
    }

    main{
        height: 60%;
        background-color: black;
    }
}