@import 'topButtons';
@import 'variables';


body{
    height: 100vh;
    margin: 0;
    background-color: #C2EEDD;
}

.masterClass{
    background-color: #EEFAF6;
    //background: linear-gradient(90deg, #ddebe6 27%, #EEFAF6 27%);
    margin: 4% 2%;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 20px 2fr 20px 1fr 1fr 1fr 1fr 1fr 1fr 20px 2fr 20px;
    grid-template-rows: 50px 1fr;
    grid-auto-rows: minmax(auto);
    
}

.lineGray{
    grid-row: 1;
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: 20px 2fr 20px 1fr 1fr 1fr 1fr 1fr 1fr 20px 2fr 20px;
    border-bottom: 1px solid lightgray;
    grid-template-rows: 50px 1fr;
    background: #EEFAF6;
    border-radius: 20px 20px 0px 0px;
}

.searchFood{
    grid-column: 4 / 10;
    grid-row: 1;
    align-self: center;
    border: none;
    cursor: pointer;
    
}
/* .searchBar{
    grid-column: 5 / 9;
    grid-row: 1;
    background: #EEFAF6;
    align-self: center;
    display: grid;
    grid-template-columns:1.5rem 4fr 1fr;
    width:300px;
    overflow: hidden;
    .searchType{
        border: none;
        background: none;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
} */


.shopBagAndBell{
    grid-column: 1 / 4;
    gap: 0px;
    padding: 1em;
    background-color: #ddebe6;
    border-radius: 20px 0px 0px 0px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: auto;
    border-bottom: 1px solid lightgray;
    color: #2bb470;
    font-size: 18px;
    cursor: pointer;
    
    .aBell{
        grid-column: 4 / 5;
        justify-content: center;
        justify-items: end;
        color: #2bb470;
        font-size: 20px;
        cursor: pointer;
    }
}
.helloName{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: #ddebe6;
    border-radius: 0px 0px 0px 20px;
    .textAlign{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: auto auto auto;
        .bebe{
            grid-column: 2 / 3;
            margin: 20px 0px 0px 0px;
        }
        h2{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

        }
        p{
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            margin: 0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: $textColor;
        }
    }

    i.pencil:after{
        content: '\f040';
        color: #00AF4D;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-left:5px;
        cursor: pointer;
    }

    .eatMenu{
        display: grid;
        grid-template-columns: 1fr 0.5fr 3fr 1fr;
        grid-template-rows: auto auto 50px 50px 50px 50px 50px auto 50px 50px 50px auto;
        border-radius: 0px 0px 0px 20px;
        .creatMenu{
            grid-column: 2 / 4;
            margin: 35px 0px;
            border-radius: 10px;
            cursor: pointer;
            background: #2bb470;
            color: #ddebe6;
            height: 50%;
            align-self: center;
            border: none;
            box-shadow:
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12)
                ;
                font-size: 18px
        }
        h5{
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 10px 0px;
            align-self: center;
            color: $textColor;
        }
        i.fa.fa-plus{
            font-size: 18px;

        }
        .btnOverView{
            grid-column: 2 /4;
            grid-row: 3 / 4;
            border-radius: 30px;
            border: none;
            background: none;
            color: $textColor;
            margin: 10px 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: start;
            cursor: pointer;
            }
                .btnOverView:hover{
                    background: #EEFAF6;
                    color: black;
                i.fa.fa-eye{
                    color: #2bb470;
                }
                }
        .btnMeal{
            grid-column: 2 /4;
            grid-row: 4 / 5;
            border-radius: 30px;
            color: $textColor;
            border: none;
            background: none;
            margin: 10px 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: start;
            cursor: pointer;
        }
            .btnMeal:hover{
                background: #EEFAF6;
                color: black;
                i.fa.fa-cutlery{
                    color: #2bb470;
                }
            }
        .btnUserAcc{
            grid-column: 2 /4;
            grid-row: 5 / 6;
            border-radius: 30px;
            color: $textColor;
            border: none;
            background: none;
            margin: 10px 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: start;
            cursor: pointer;
        }
            .btnUserAcc:hover{
                background: #EEFAF6;
                color: black;
                i.fa.fa-user-circle{
                    color: #2bb470;
                }
            }
        .btnHistory{
            grid-column: 2 /4;
            grid-row: 6 / 7;
            border-radius: 30px;
            color: $textColor;
            border: none;
            background: none;
            margin: 10px 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: start;
            cursor: pointer;
        }
            .btnHistory:hover{
                background: #EEFAF6;
                color: black;
                i.fa.fa-history{
                    color: #2bb470;
                }
            }
        .btnCalendar{
            grid-column: 2 /4;
            grid-row: 7 / 8;
            border-radius: 30px;
            color: $textColor;
            border: none;
            background: none;
            margin: 10px 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: start;
            cursor: pointer;
        }
            .btnCalendar:hover{
                background: #EEFAF6;
                color: black;
                i.fa.fa-calendar-check-o{
                    color: #2bb470;
                }
            }

        .onlineComunity{
            grid-row: 9 / 10;
        }

        .btnReviews{
            grid-column: 2 /4;
            grid-row: 10 / 11;
            border-radius: 30px;
            color: $textColor;
            border: none;
            background: none;
            margin: 10px 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: start;
            cursor: pointer;
        }
            .btnReviews:hover{
                background: #EEFAF6;
                color: black;
                i.fa.fa-commenting{
                    color: #2bb470;
                }
            }

        .btnUserRecipies{
            grid-column: 2 /4;
            grid-row: 11 / 12;
            border-radius: 30px;
            color: $textColor;
            border: none;
            background: none;
            margin: 10px 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: start;
            cursor: pointer;
        }
            .btnUserRecipies:hover{
                background: #EEFAF6;
                color: black;
                i.fa.fa-user-circle-o{
                    color: #2bb470;
                }
            }

        .btnLogOut{
            grid-column: 3 /4;
            grid-row: 12 / 13;
            border-radius: 30px;
            color: $textColor;
            height: 30px;
            border: none;
            margin: 40px 0px;
            background: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            cursor: pointer;
            
        }
            .btnLogOut:hover{
                background: #EEFAF6;
                color: black;
                i.fa.fa-power-off{
                    color: #2bb470;
                }
            }
    }
}




.littleMaster{
    background-color: #EEFAF6;
}

.infoSection{
    grid-column: 4/10;
    border: 1px solid yellowgreen;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 155px auto auto;

    .myOption{
        grid-column: 2 /3;
        display: grid;
        grid-template-columns: 2fr auto auto;
        grid-template-rows: 100px 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        .myOptionMealTitle{
            font-size: 30px;
            grid-row: 1;
            grid-column: 1;
            margin: 0;
            align-self: flex-end;
        }
        .dragAndDrop{
            grid-row: 2;
            grid-column: 1;
            margin: 0;
            align-self: flex-end;
            font-size: 14px;
            color: $textColor;

            .fa.fa-info-circle:hover{
                color: #2bb470;
                cursor: pointer;
            }
        }
        .compareMeal{
            align-self: flex-end;
            background-color: transparent;
            border: 1px solid lightgray;
            color: black;
            padding: 10px 15px;
            text-align: center;
            height: 37px;
            width: 167px;
            border-radius: 10px;
            text-decoration: none;
            display: inline-block;
            margin: 0 4px;
            cursor: pointer;
            font-size: 14px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
            .compareMeal:hover{
                color: #2bb470;
                background-color: #C2EEDD;
            }
        .filter{
            align-self: flex-end;
            background-color: transparent;
            border: 1px solid lightgray;
            border-radius: 10px;
            height: 37px;
            width: 100px;
            color: black;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            margin: 0 4px;
            cursor: pointer;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
            .filter:hover{
                color: #2bb470;
                background-color: #C2EEDD;
            }
    }

    .typesOfCusines{
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto 4fr;
        grid-template-rows: 20px;

        .selectCusines{
            border: none;
            background-color: transparent;
            color: $textColor;
            cursor: pointer;
        }
            .selectCusines:hover{
                color: black;
            }
        .mainSort{
            justify-self: end;
            color: $textColor;

            .sortBy{
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}

.widgets{
    display: grid;
    grid-template-columns: 20px 2fr 20px;
}