/* Compiles to */
@media (min-width: 640px) and (max-width: 767px) {
  #alignButton {
    margin: 0 5px 0 0 !important;
    padding: 8px 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  #alignButton {
    margin: 0 5px 0 0 !important;
    padding: 8px 0;
  }
}

.mainSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr ifr;
      grid-template-columns: 1fr 1fr ifr;
  justify-items: center;
}

.mainSection .infoSection {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.text-center {
  text-align: left !important;
}

/* .pageForm{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;

} */
#alignButton {
  margin: 0 5px 0 0 !important;
  /* padding: 8px 0; */
}

.infoSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}

.infoSection .photoGrid {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px -8px 0;
  list-style-type: none;
  padding: 20px 40px;
}

.infoSection .photoGrid li {
  height: 20vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 8px 8px 0;
}

.infoSection .photoGrid li:last-child {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.infoSection .photoGrid img {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  border-radius: 4px;
}

.infoSection h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 20px 40px 0px 40px;
  text-align: center;
}

.listCreate {
  cursor: pointer;
}

.presentSection {
  cursor: pointer;
}

.carousel.slide.carousel-fade .carousel-inner {
  background-position: bottom;
  background-position: top 200px;
}

.displayMainSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}

.displayMainSection h3 {
  padding: 20px 40px 0px 40px;
}

.displayMainSection .firstTypeOfPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px -8px 0;
  list-style-type: none;
  padding: 0px 40px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.displayMainSection .firstTypeOfPhoto li {
  height: 10vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 8px 8px 0;
}

.displayMainSection .firstTypeOfPhoto li:last-child {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.displayMainSection .firstTypeOfPhoto img {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  border-radius: 4px;
}

.displayMainSection .secondTypeOfPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px -8px 0;
  list-style-type: none;
  padding: 0px 40px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.displayMainSection .secondTypeOfPhoto li {
  height: 10vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 8px 8px 0;
}

.displayMainSection .secondTypeOfPhoto li:last-child {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.displayMainSection .secondTypeOfPhoto img {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  border-radius: 4px;
}

.displayMainSection .thirdTypeOfPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px -8px 0;
  list-style-type: none;
  padding: 0px 40px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.displayMainSection .thirdTypeOfPhoto li {
  height: 10vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 8px 8px 0;
}

.displayMainSection .thirdTypeOfPhoto li:last-child {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.displayMainSection .thirdTypeOfPhoto img {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  border-radius: 4px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-size: 10px;
  height: 2%;
  background-color: white;
}
/*# sourceMappingURL=main.css.map */