@import 'media';

.mainSection {
	display: grid;
	grid-template-columns: 1fr 1fr ifr;
	justify-items: center;
	.infoSection {
		grid-column: 1 / 2;
	}
}

.text-center{
  text-align: left!important;
  
}

/* .pageForm{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;

} */

#alignButton {
  margin: 0 5px 0 0!important;
  /* padding: 8px 0; */
}

.infoSection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 10px;
	.photoGrid {
		grid-column: 1 / 4;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px -8px 0;
    list-style-type: none;
    padding: 20px 40px;
		li {
			height: 20vh;
			flex-grow: 1;
			margin: 0 8px 8px 0;
		}
		li:last-child {
			flex-grow: 10;
		}
		img {
			max-height: 100%;
			min-width: 100%;
			object-fit: cover;
			vertical-align: bottom;
			border-radius: 4px;
		}
  }
  h3{
    grid-column: 2/3;
    padding: 20px 40px 0px 40px;
    text-align: center;
  }
}

.listCreate {
	cursor: pointer;
}
.presentSection {
	cursor: pointer;
}

.carousel.slide.carousel-fade{
  .carousel-inner {
    background-position: bottom;
    background-position: top 200px;
  }
  
}

.displayMainSection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  h3{
    padding: 20px 40px 0px 40px;
  }
	.firstTypeOfPhoto {
		display: flex;
    flex-wrap: wrap;
    margin: 0 -8px -8px 0;
    list-style-type: none;
    padding: 0px 40px;
    grid-column: 1 / 2;
    li {
			height: 10vh;
			flex-grow: 1;
			margin: 0 8px 8px 0;
		}
		li:last-child {
			flex-grow: 10;
		}
		img {
			max-height: 100%;
			min-width: 100%;
			object-fit: cover;
			vertical-align: bottom;
			border-radius: 4px;
		}
	}
	.secondTypeOfPhoto {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px -8px 0;
		list-style-type: none;
    padding: 0px 40px;
    grid-column: 2 / 3;
		li {
			height: 10vh;
			flex-grow: 1;
			margin: 0 8px 8px 0;
		}
		li:last-child {
			flex-grow: 10;
		}
		img {
			max-height: 100%;
			min-width: 100%;
			object-fit: cover;
			vertical-align: bottom;
			border-radius: 4px;
		}
	}
	.thirdTypeOfPhoto {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px -8px 0;
		list-style-type: none;
    padding: 0px 40px;
    grid-column: 3 / 4;
    li {
			height: 10vh;
			flex-grow: 1;
			margin: 0 8px 8px 0;
		}
		li:last-child {
			flex-grow: 10;
		}
		img {
			max-height: 100%;
			min-width: 100%;
			object-fit: cover;
			vertical-align: bottom;
			border-radius: 4px;
		}
	}
}

footer{
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 10px;
    height: 2%;
    background-color: white;
}
